/*
font-family: 'Cursed Timer ULiL', sans-serif;
font-family: 'Bebas Neue', sans-serif;
*/                                                

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.scoreboard-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 60%;
    gap: 1.4375em;
}

.scoreboard{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.625rem;
    border-radius: 5px;
    background-color: #080001;
    color: #F94F6D;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}

.header{
    color: #EEEEEE;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
}

.scoreboard,
.buttons{
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.buttons{
    width: 45px;
    height: 45px;
    background: none;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    font-size: 1.125rem;
}

@media (min-width: 768px){
    .container{
        flex-direction: row;
    }
    .scoreboard-container{
        width: 40%;
        max-width: 300px;
    }
    .buttons{
        width: 65px;
        height: 65px;
        font-size: 1.5em;
    }
}